*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
spec/db/
tmp
# TODO: move personal ignores to global ignore (see above)
.rbenv-version
.rvmrc
.DS_Store
/*sublime-*
/*.csv
/*.xlsx
/*.sh
/*.sql
/*.txt
/*.gz
/*.zip
